<div th:fragment="script">
    <!-- Bootstrap Bundle with Popper from CDN -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        document.querySelectorAll('.dropdown-menu').forEach(function(element) {
            element.addEventListener('click', function(e) {
                e.stopPropagation();
            });
        });
    </script>
    <script>
        document.querySelectorAll('.dropdown-menu .dropdown-toggle').forEach(function(element) {
            element.addEventListener('click', function(e) {
                var nextElement = this.nextElementSibling;
                if(nextElement && nextElement.classList.contains('dropdown-menu')) {
                    e.preventDefault();
                    var parentDropdown = this.closest('.dropdown-menu');
                    var openDropdowns = parentDropdown.querySelectorAll('.show');
                    openDropdowns.forEach(function(openDropdown) {
                        openDropdown.classList.remove('show');
                    });
                    nextElement.classList.toggle('show');
                    this.setAttribute('aria-expanded', nextElement.classList.contains('show'));
                }
            });
        });

        document.addEventListener('click', function(e) {
            var isDropdownToggle = e.target.closest('.dropdown-toggle');
            if (!isDropdownToggle) {
                var openDropdowns = document.querySelectorAll('.dropdown-menu .show');
                openDropdowns.forEach(function(openDropdown) {
                    openDropdown.classList.remove('show');
                });
            }
        });
    </script>
    <!-- Your application scripts -->
    <script src="/web/app/category.js"></script>
</div>
